doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Homeschool Tracker
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='../styles/style.css')

        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
        script(src='../scripts/script.js')
    body
        div.container
            div.row
                div.col-md-4
                div.col-md-4
                    h1 Not Authorized
                    p I'm sorry! But you are not authorized to access this application or you entered the incorrect password.
                    button(class='btn btn-outline-secondary', id='goBack') Back to Login
                div.col-md-4




